
html, body {
  height:100%;
  width:100%;
  font-family: 'Lato', sans-serif;
  font-size:24px;
  transition: all 0.5s;
  color: lightgrey;
  background-color:#888;
  clear:both;
}

nav, .nav {
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
  float:right;
  width: auto;
}

.logo {
  width:9%;
  margin-left: 2%;
  margin-top: 2%;
}


#welcome {
  position: absolute;
  top: 0;
  width:100%;
  background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
  clear:both;

}

#welcome h1 {
  margin-top: 13%;
  margin-bottom: 3%;
}

section {
  width:100%;
  height:100%;
  clear:both;
}

.info {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/img/infobg.jpg");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-color:#888;
  height: 100%;
  clear:both;
  position:relative;


}

.video{
  width:100%;
  height:100%;
  background-color:#000;
  height: 100%;
  clear:both;
  position:relative;
}

.videobox {
  height:100%;
  width:100%;
  background: #000;
  border: none;
  padding:0;
}
.info h2, .contact h2 {
  margin-top: 12%;
}

.speakers {
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("/img/speakers.jpg");
  background-position: center;
  float:right;
  position: relative;
  clear: both;

}
.speakers img {
  height: 250px;
  width: 400px;
  margin:3% auto 3% auto;
}
.carousel-control {
  font-size:5em;
}
.carouseldots {
  position: relative;
  top: 10px;
  left: 25%;
  clear:both;
}

.register {
  font-size: 1.2em;
  margin: 3% auto 3% auto;
  clear: both;
}

.register a {
  font-size: .8em;

}
.contact {
  background: #888;
  height: 60%;
  position:relative;
  clear:both;
}


.footer {
  font-size:.45em;
  color:#333;
  background: #888;
  clear: both;
}

.thankyou {
  margin: 20%;
  clear: both;
  position: relative;
  top: 100px;
}
